<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Meli Application</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome to your own new MeliApplication!</h1>
    <form action="/login" method="POST">
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" autofocus />
      <button type="submit">Let's begin!</button>
    </form>
  </div>
</body>
</html>